
#square {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
    
#WP1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP3 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP4 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP5 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP6 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP7 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WP8 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP3 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP4 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP5 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP6 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP7 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BP8 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WR1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px;
    transition: all 1s;
  }
  #WR2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WN1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WN2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WB1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WB2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WQ1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #WK1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BR1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BR2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BN1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BN2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BB1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BB2 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BQ1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }
  #BK1 { 
    cursor: pointer;
    position: absolute; 
    left: 15.5%;
    top: 10px; 
    transition: all 1s;
  }